Média aritmética, moda e mediana com distribuição de frequência (dados agrupados)

In [2]:
import pandas as pd
import numpy as np
import statistics

In [3]:
dados = {'inferior' : [150, 154, 158, 162, 166, 170], 'superior' : [154, 158, 162, 166, 170, 174], 'fi' : [5, 9, 11, 7, 5, 3]}

In [4]:
dataset = pd.DataFrame(dados)
dataset

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       166   7
4       166       170   5
5       170       174   3

In [5]:
# Ponto médio de uma classe
dataset['xi'] = (dataset['inferior'] + dataset['superior']) / 2
dataset

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       166   7  164.0
4       166       170   5  168.0
5       170       174   3  172.0

In [6]:
#fixi
dataset['fi.xi'] = dataset['fi'] * dataset['xi']
dataset

   inferior  superior  fi     xi   fi.xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       166   7  164.0  1148.0
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [7]:
#Total fixi 
total_fixi = dataset['fi.xi'].sum()
total_fixi

np.float64(6428.0)

In [8]:
total_fi = dataset['fi'].sum()
total_fi

np.int64(40)

In [9]:
dataset['Fi'] = 0
dataset

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   0
1       154       158   9  156.0  1404.0   0
2       158       162  11  160.0  1760.0   0
3       162       166   7  164.0  1148.0   0
4       166       170   5  168.0   840.0   0
5       170       174   3  172.0   516.0   0

In [10]:
#Teste
for linha in dataset.iterrows():
    #print(linha[i][j])
    print(linha[1][2])

5.0
9.0
11.0
7.0
5.0
3.0

C:\Users\AGIACON\AppData\Local\Temp\ipykernel_21304\2691997313.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(linha[1][2])

In [11]:
coluna_somar = 'fi'
frequencia_acumulada = []
somatorio = 0
for _, linha in dataset.iterrows():
    somatorio += linha[coluna_somar]   
    frequencia_acumulada.append(somatorio)

In [12]:
frequencia_acumulada

[np.float64(5.0),
 np.float64(14.0),
 np.float64(25.0),
 np.float64(32.0),
 np.float64(37.0),
 np.float64(40.0)]

In [13]:
dataset['Fi'] = frequencia_acumulada
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

Média

In [20]:
media = dataset['fi.xi'].sum() / dataset['fi'].sum()
media

np.float64(160.7)

Moda

In [27]:
moda = dataset['fi'].max()
moda

np.int64(11)

In [30]:
# Pegando alinha inteira da moda
for _, linha in dataset.iterrows():
    if linha['fi'] == moda:
        print(linha)

inferior     158.0
superior     162.0
fi            11.0
xi           160.0
fi.xi       1760.0
Fi            25.0
Name: 2, dtype: float64

In [40]:
dataset

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

Mediana

In [38]:
frequencia = dataset['fi'].sum() / 2
frequencia

np.float64(20.0)

In [41]:
limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0
for linha in dataset.iterrows():
    limite_inferior = linha[1][0]
    frequencia_classe = linha[1][2]
    id_frequencia_anterior = linha[0]

    if linha[1][5] >= frequencia:
        id_frequencia_anterior -= 1
        break

C:\Users\AGIACON\AppData\Local\Temp\ipykernel_21304\2042226354.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  limite_inferior = linha[1][0]
C:\Users\AGIACON\AppData\Local\Temp\ipykernel_21304\2042226354.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  frequencia_classe = linha[1][2]
C:\Users\AGIACON\AppData\Local\Temp\ipykernel_21304\2042226354.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if linha[1][5] >= frequencia:

In [42]:
limite_inferior, frequencia_classe, id_frequencia_anterior

(np.float64(158.0), np.float64(11.0), 1)

In [43]:
Fi_anterior = dataset.iloc[[id_frequencia_anterior]]['Fi'].values[0]
Fi_anterior

np.float64(14.0)

In [44]:
mediana = limite_inferior + ((frequencia - Fi_anterior) * 4) / frequencia_classe
mediana

np.float64(160.1818181818182)

Função Completa

In [47]:
def get_estatisticas(dataframe):
  media = dataset['fi.xi'].sum() / dataset['fi'].sum()
  moda = dataset[dataset['fi'] == dataset['fi'].max()]['xi'].values[0]

  fi_2 = dataset['fi'].sum() / 2
  limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0
  for i, linha in enumerate(dataset.iterrows()):
    limite_inferior = linha[1][0]
    frequencia_classe = linha[1][2]
    id_frequencia_anterior = linha[0]
    if linha[1][5] >= fi_2:
      id_frequencia_anterior -= 1
      break
  Fi_anterior = dataset.iloc[[id_frequencia_anterior]]['Fi'].values[0]
  mediana = limite_inferior + ((fi_2 - Fi_anterior) * 4) / frequencia_classe

  return media, moda, mediana

In [48]:
get_estatisticas(dataset)

C:\Users\AGIACON\AppData\Local\Temp\ipykernel_21304\1213864223.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  limite_inferior = linha[1][0]
C:\Users\AGIACON\AppData\Local\Temp\ipykernel_21304\1213864223.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  frequencia_classe = linha[1][2]
C:\Users\AGIACON\AppData\Local\Temp\ipykernel_21304\1213864223.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if linha[1][5] >= fi_2:

(np.float64(160.7), np.float64(160.0), np.float64(160.1818181818182))